.form {

}

.title {
    font-weight: normal;
    text-align: center;
}

.logButton {

}


.formCheck {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.checkbox {

}

.remember {

}